<key>ShowHomeButton</key>
    <true />
<key>RestoreOnStartup</key>
    <integer>1</integer>
<key>ComponentUpdatesEnabled</key>
    <true />
<key>ExtensionInstallForcelist</key>
    <array>
        <string>ppnbnpeolgkicgegkbkbjmhlideopiji;https://clients2.google.com/service/update2/crx</string>
        <string>aeblfdkhhhdcdjpifhhbdiojplfjncoa;https://clients2.google.com/service/update2/crx</string>
    </array>

<key>ExtensionSettings</key>
<dict>
      <key>ppnbnpeolgkicgegkbkbjmhlideopiji</key>
      <dict>
        <key>toolbar_pin</key>
        <string>force_pinned</string>
      </dict>
       <key>aeblfdkhhhdcdjpifhhbdiojplfjncoa</key>
      <dict>
        <key>toolbar_pin</key>
        <string>force_pinned</string>
      </dict>
</dict>
