<key>ShowHomeButton</key>
    <true />
<key>RestoreOnStartup</key>
    <integer>1</integer>
<key>ComponentUpdatesEnabled</key>
    <true />
<key>updatePolicies</key>
<dict>
 <key>global</key>
 <dict>
  <key>UpdatesSuppressedStartHour</key>
  <integer>16</integer>
  <key>UpdatesSuppressedStartMin</key>
  <integer>30</integer>
  <key>UpdatesSuppressedDurationMin</key>
  <integer>960</integer>
  </dict>
</dict>
<key>ExtensionInstallForcelist</key>
    <array>
        <string>ppnbnpeolgkicgegkbkbjmhlideopiji;https://clients2.google.com/service/update2/crx</string>
        <string>aeblfdkhhhdcdjpifhhbdiojplfjncoa;https://clients2.google.com/service/update2/crx</string>
    </array>

<key>ExtensionSettings</key>
<dict>
      <key>ppnbnpeolgkicgegkbkbjmhlideopiji</key>
      <dict>
        <key>toolbar_pin</key>
        <string>force_pinned</string>
      </dict>
       <key>aeblfdkhhhdcdjpifhhbdiojplfjncoa</key>
      <dict>
        <key>toolbar_pin</key>
        <string>force_pinned</string>
      </dict>
</dict>
